{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - {{'contact.show.title-page'| trans}}{% endblock %}

{% block body %}

	{# Description #}
	<h1 class="margin-tb title">{{'contact.show.title'| trans}}</h1>
	<nav>
		<ol class="breadcrumb">
			<li>Home</li>
			<li>Contact</li>
			<li>{{contact.firstname}}</li>
		</ol>
	</nav>

	<div class="card">
		<div class="row margin-b">
			<div class="left">
				<img src="{{asset('images/avatar.gif')}}" alt="{{contact.firstname}}" class="image">
				<div class="show-baseline">
					<h4>
						<em>{{ contact.title }}</em>
						<strong>{{ contact.lastname|upper }}</strong>
						{{ contact.firstname|slice(0,1)|capitalize }}
					</h4>
				</div>
			</div>
			<div class="phone">
				<div class="show-card">
					<p>{{'contact.show.info.phone'| trans}} :
						<a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></p>
				</div>
			</div>
		</div>
		<div class="show-commentaire">
			<p>{{'contact.show.info.comment'| trans}} :</p>
			<p>{{ contact.comment }}</p>
		</div>
		<div class="show-content">
			<p>
				<strong>{{'contact.show.info.motif'| trans}} :</strong>
				{{ contact.reason }}</p>
			<p>
				<strong>{{'contact.show.info.mail'| trans}} :</strong>
				{{ contact.mail }}</p>
			<p>
				<strong>{{'contact.show.info.adresse'| trans}} :</strong>
				{{ contact.adress ? contact.adress.adressLine1 : ""}}</p>
			<p>
				<strong>{{'contact.show.info.adresseComplement'| trans}} :</strong>
				{{ contact.adress ? contact.adress.adressLine2 : ""}}</p>
			<p>
				<strong>{{'contact.show.info.codePostale'| trans}} :</strong>
				{{ contact.adress ? contact.adress.zipCode : ""}}</p>
			<p>
				<strong>{{'contact.show.info.city'| trans}} :</strong>
				{{ contact.adress ? contact.adress.city : ""}}</p>
		</div>


		<div class="inner">
			<a href="{{ path('contact_index') }}" class="btn btn-third btn-radius">{{'btn.back'| trans}}</a>

			<a href="{{ path('contact_edit', {'id': contact.id}) }}" class="btn btn-primary btn-radius">{{'btn.edit'| trans}}</a>

			<span class="btn btn-secondary btn-radius" style="padding: 8px;">{{ include('contact/_delete_form.html.twig') }}</span>
		</div>
	</div>

{% endblock %}
