{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - {{'society.new.title'| trans}}{% endblock %}

{% block body %}
      <h1 class="title margin-b">{{'society.new.title'| trans}}</h1> 

    <!--==== Formulaire ====-->
    <div class="card card-padding">

        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary btn-radius">
                {{ button_label|default('Enregistrer !') }}
            </button>
            <a href="{{ path('society_index') }}" class="btn btn-third btn-radius">{{'btn.back'| trans}}</a>
        {{ form_end(form) }}

    </div>
{% endblock %}
