{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - {{'society.show.title'| trans}}{% endblock %}

{% block body %}
    {# Description #}
	<h1 class="margin-tb title">{{'society.show.title'| trans}}</h1>
	<nav>
		<ol class="breadcrumb">
			<li>Home</li>
			<li>Société</li>
			<li>{{ society.representativeName ? society.representativeName : 'Particulier' }}</li>
		</ol>
	</nav>

    <section class="society">
        <header class="inner card">
            <img src="{{absolute_url(asset('images/undraw_home.svg'))}}" alt="Immeuble">
            <h2>{{ society.representativeName ? society.representativeName : 'Particulier' }}</h2>
        </header>
        <main class="card margin-tb">
            <strong class="block">{{'society.show.info.title'| trans}}</strong>
            <div class="block">
                <address class="society-border">
                    <b>{{'society.show.info.name'| trans}} : </b> {{ society.name }}<br/><br/>
                    {{ society.representativeName }}<br/>
                    <span>
                        {{ society.adress.adressLine1 }}<br/>
                        {{ society.adress.zipCode }} - {{ society.adress.city }}<br/>
                    </span>
                </address>
                <div class="society-border society-phone margin-tb">
                    <a href="tel:{{ society.representativePhone }}"><strong>{{'society.show.info.phone'| trans}} :</strong> {{ society.representativePhone ? society.representativePhone : 'Pas de numéro enregistré' }}</a>
                </div>
                <div class="society-border society-phone">
                    <strong>{{'society.show.info.comment'| trans}}</strong>
                    <p>{{ society.comment ? society.comment : 'Aucun commentaire pour le môment'}}</p>
                </div>
            </div>
        </main>
    </section>

    <div class="inner">
        <a href="{{ path('society_index') }}" class="btn btn-third btn-radius">{{'btn.back'| trans}}</a>
        <a href="{{ path('society_edit', {'id': society.id}) }}" class="btn btn-primary btn-radius">{{'btn.edit'| trans}}</a>
        <span class="btn btn-secondary btn-radius" style="padding: 8px;">{{ include('society/_delete_form.html.twig') }}</span>
    </div>
    
{% endblock %}
