{% extends 'base.html.twig' %}

{% block title %} Stock Manager {% endblock %}

{% block body %}

	{# Statistique #}
	<section class="section">
		<header class="section-header">
			<h2 class="section-title">{{'home.title.dashbord'| trans}}</h2>
			<p>{{'home.description.dashbord'| trans}}</p>
		</header>
		<ul class="stats">
			<li class="stats-items">
				<div class="items-icons">
					<i class="fas fa-cash-register"></i>
				</div>
				<div class="items-text">
					<p>{{'home.stats.somme'| trans}}</p>
					<strong>{{sumAmount / 100}} €</strong>
				</div>
			</li>
			<li class="stats-items">
				<div class="items-icons">
					<i class="fas fa-chart-bar"></i>
				</div>
				<div class="items-text">
					<p>{{'home.stats.member'| trans}}</p>
					<strong>{{member}}</strong>
				</div>
			</li>
			<li class="stats-items">
				<div class="items-icons">
					<i class="fas fa-desktop"></i>
				</div>
				<div class="items-text">
					<p>{{'home.stats.nbComputersFixe'| trans}}</p>
					<strong>{{ computer }}</strong>
				</div>
			</li>
		</ul>
	</section>

	{# Computers #}
	<section class="section">
		<header class="section-header">
			<div class="left">
				<h2 class="section-title">{{'home.title.computers'| trans}}</h2>
				<p>{{'home.description.computers'| trans}}</p>
			</div>
		</header>
		<ul class="computers">
			{% for computer in computers %}
				<li class="computers-items">
					<div class="computers-wrapper">
						<div class="elements elements-logo">
							{% if computer.type == "PC Fixe" %}
								<i class="fas fa-desktop"></i>
							{% elseif computer.type == "PC portable" %}
								<i class="fas fa-laptop"></i>
							{% else %}
								<i class="fas fa-server"></i>
							{% endif %}
						</div>
						<div class="elements elements-serial">
							<span>{{computer.serial}}</span>
							<p>{{'home.sponsor'| trans}} : {{computer.donor.representativeName}}</p>
						</div>
						<div class="elements elements-date">
							<span>{{computer.receivedAt ? computer.receivedAt|date('Y-m-d') : '' }}</span>
						</div>
						<div class="elements elements-status">
							<span class="items-status {{ computer.status|replace({'à':'a'})|replace({'é':'e'})|lower }}">{{ computer.status }}</span>
						</div>
						<div class="elements">
							<a href="{{ path('computer_show', {'id': computer.id}) }}">{{'btn.tooltip.show'| trans}}</a>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</section>

{% endblock %}
