<header class="web-settings" role="Navigation accessibility">
	<div class="btn-accessibility" data-infobulle="{{'accessibility.tooltip.constrated'| trans}}" aria-label="daltonic" aria-describedby="coulor-blind mode">
		<svg id="icon-eye" viewbox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/>
		</svg>
	</div>
	<div class="font" data-infobulle="{{'accessibility.tooltip.dyslexic'| trans}}" aria-label="dyslexic" aria-describedby="dyslexic mode">
		<svg id="icon-font" enable-background="new 0 0 512 512" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
			<g>
				<path fill="currentColor" stroke="currentColor" d="m15 90c8.284 0 15-6.716 15-15v-45h45c8.284 0 15-6.716 15-15s-6.716-15-15-15h-60c-8.284 0-15 6.716-15 15v60c0 8.284 6.716 15 15 15z"/>
				<path fill="currentColor" stroke="currentColor" d="m75 482h-45v-45c0-8.284-6.716-15-15-15s-15 6.716-15 15v60c0 8.284 6.716 15 15 15h60c8.284 0 15-6.716 15-15s-6.716-15-15-15z"/>
				<path fill="currentColor" stroke="currentColor" d="m497 422c-8.284 0-15 6.716-15 15v45h-45c-8.284 0-15 6.716-15 15s6.716 15 15 15h60c8.284 0 15-6.716 15-15v-60c0-8.284-6.716-15-15-15z"/>
				<path fill="currentColor" stroke="currentColor" d="m497 0h-60c-8.284 0-15 6.716-15 15s6.716 15 15 15h45v45c0 8.284 6.716 15 15 15s15-6.716 15-15v-60c0-8.284-6.716-15-15-15z"/>
				<path fill="currentColor" stroke="currentColor" d="m431 210.959v-105c0-8.284-6.716-15-15-15h-320c-8.284 0-15 6.716-15 15v105c0 8.284 6.716 15 15 15s15-6.716 15-15v-15c0-8.27 6.729-15 15-15h85v210.082h-15c-8.284 0-15 6.716-15 15s6.716 15 15 15h120c8.284 0 15-6.716 15-15s-6.716-15-15-15h-15v-210.082h85c8.271 0 15 6.73 15 15v15c0 8.284 6.716 15 15 15s15-6.716 15-15z"/>
			</g>
		</svg>
	</div>

	<div class="lang-wrapper">
		<div class="topbar-lang">
			<div class="lang">
				{% for locale in locales %}
					{% if locale == app.request.locale %}
						<img src="{{asset('images/'~locale~'.svg')}}" alt="{{locale}}">
						<span>{{locale}}</span>
						<i class="fas fa-chevron-down chevron"></i>
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<ul class="list-lang">
			{% for locale in locales %}
				<li class="lang" data-value="{{locale}}">
					<a href="{{ path('langue_locale', {'locale': locale}) }}" class="{{ (locale == app.request.locale) ? 'active-lang' : '' }}">
						<img src="{{asset('images/'~locale~'.svg')}}" alt="{{locale}}"/>
						<span>
							{% if locale == "fr" %}
								Français
							{% elseif locale == "en" %}
								English
							{% elseif locale == "es" %}
								Español
							{% elseif locale == "it" %}
								Italian
							{% elseif locale == "de" %}
								Deutsch	
							{% elseif locale == "ar" %}
								عرب																						
							{% endif %}
						</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</header>
