{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<h4>Période du 01/{{data.month}}/{{data.year}} au 31/{{data.month}}/{{data.year}}</h4><br>
<table class="table">
    <thead>
        <tr>
            <th>Type d'adhésion</th>
            <th>Montant</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Adhésion Gem 3 mois</td>
            <td>{{ memberShipGem / 100 }} €</td>
        </tr>
        <tr>
            <td> Adhésion RSA</td>
            <td>{{ memberShipRSA / 100 }} €</td>
        </tr>
        <tr>
            <td> Adhésion SMIC</td>
            <td>{{ memberShipSMIC / 100 }} €</td>
        </tr>
        <tr>
            <td> Adhésion Bénévole</td>
            <td>{{ memberShipBenevole / 100 }} €</td>
        </tr>
        <tr>
            <td> Adhésion Sup SMIC</td>
            <td>{{ memberShipSup / 100 }} €</td>
        </tr>
        <tr>
            <td> Adhésion installation Linux </td>
            <td>{{ memberShipLinux / 100 }} €</td>
        </tr>
       <tr>
            <td> Ventes</td>
            <td>{{sales / 100 }} €</td>
        </tr>
        <tr>
            <td> Ordinateurs Donnés</td>
            <td>{{computerGive / 100 }} €</td>
        </tr>
    </tbody>


</table>

      <!--==== Formulaire ====-->
      <p class="desc">Selection par Date</p>
      <div class="card card-padding">

        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary btn-radius">
                {{ button_label|default('Envoyer !') }}
            </button>
            <a href="{{ path('statistique') }}" class="btn btn-third btn-radius">Retour</a>
        {{ form_end(form) }}

    </div>

 
{% endblock %}